#splash {
    text-align:center;
    color: #fff;
}

body.splash {
    font-family:sans-serif;
    padding:0;
    margin:0 12px;
    background-color:#ccc;
}

img.splash {
    border: 1px solid #d4d4d4;
}

a:visited {
    color:#551a8b;
}

a:hover {
    text-decoration:underline;
}


