    body {
        font-family:Verdana,sans-serif;
        padding:0;
        margin:10px 10px 0 10px;
        background-color:#eee;
    }
    
    body, p, div, li, td {
        font-size:11px;
        color:#222;
    }
    
    div {
        margin:0;
        padding:0;
    }
    
    img {
        border:0;
    }
    
    a, a:visited {
        text-decoration:none;
    }
    
    a {
        color:#00f;
    }
    
    a:visited {
        color:#fff;
    }
    
    a:hover {
        text-decoration:underline;
    }
    
    a.shop, a.shop:visited {
        color:#00f;
    }
    
    div.page {
        width:810px;
        margin:0 auto 1em;
        background-color:#FFF;
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
    }
    
    /*
    Header
    */

    div.header {
        height:70px;
        width:810px;
        border-top: 1px solid #d4d4d4;
    }

    .logo {
        float:left; 
        width:300px; 
        height:70px; 
        margin:0; 
        padding:10px;
    }

    .highlight {
        float:right; 
        width:80px; 
        height:74px; 
        margin:0; 
        padding-top: 10px; 
        padding-right: 10px;
    }
    
    .searchButton {
	font-family: Verdana, Arial; 
	font-size: 11px; 
	font-weight: normal; 
	color: #FFFFFF;
	background-color: #005CAD;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	padding: 3px;
    }
    
    .searchField {
	font-family: Verdana, Arial; 
	font-size: 11px; 
	font-weight: normal; 
	color: #000000;
	background-color: #EEEEEE;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	padding: 3px;
        height: 22px;
    }
    
    /*
    Navigation
    */

    div.nav {
        background:#005CAD url(../img/bg_nav.gif) repeat-x 0 0;
        margin:0;
        padding:0;
        width:810px;
        clear:both;
    }
    
    div.nav ul, div.subnav ul {
        list-style:none;
        margin:0;
        padding:0;
        overflow:hidden;
        clear:both;
    }
    
    div.nav ul li{
        float:left;
        display:block;
    }
    
    div.nav ul li a {
        display:block;
        line-height:30px;
        padding:0 1em;
        text-decoration:none;
        font-size:12px;
        color:#fff;
        float:left;
        border-right:1px solid #ccc;
        margin:2px 0;
    }
    
    div.nav ul li input {
        margin:8px 0 0 2px;
        padding:0;
        vertical-align:middle;
        font-size:95%;
        color:#666;
    }

    div.nav ul li a {
        float:none;
    }
    
    div.nav ul li a:hover {
        background:#005CAD url(../img/bg_nav_hover.gif) repeat-x 0 0;
    }
    
    div.nav li.nav_selected a, div.nav li.nav_selected a:hover {
        line-height:34px !important;
        margin:0 !important;
        background: #EC222A !important;
        background-image:none !important;
    }
    
    /*
    Sub-navigation
    */

    div.subnav {
        width:810px;
        background-color:#EC222A;
        padding:6px 0 6px 0;
        border-bottom:1px solid #990000;
    }
    
    div.subnav ul li {
        float:left;
        display:inline-table;
    }
    
    div.subnav ul li a {
        padding:0 1em;
        text-decoration:none;
        color:#fff;
        float:left;
    }
    
    div.subnav ul li + li a {
        border-left:1px solid #fff;
    }
    
    div.subnav ul li a:hover {
        text-decoration:underline;
    }
    
    div.subnav .nav_selected a, div.subnav .nav_selected a:hover {
        color:#cc9999;
    }
    
    /*
    Main content
    */

    div.content {
        width:810px;
        margin: 0 0 0 0;
        padding-top: 0px;
        padding-left: 20px;
    }

    div.content h2{
        margin: 0 0 0 0;
        padding-top: 18px;
        font-family: sans-serif;
        font-size:18px;
        font-weight:bold;
        color:#005CAD;
    }
    
    div.content h3{
        margin: 0 0 0 0;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: sans-serif;
        font-size:14px;
        font-weight:bold;
        color:#005CAD;
    }

    div.content p{
        margin: 10px 0 0 0;
        color: #000000;
        background:transparent;
        text-align: justify;
    }
    
    div.content a{
        color:#00f;
    }
    
    div.content a:visited{
        color:#00f;
    }
        

    /*
    Footer
    */
    
    div.footer {
        width:810px;
        border-top: 1px solid #d4d4d4;
        padding:5px 0 8px 0;
        clear:both; 
        text-align:center;
    }
